@import './reset.css';

@font-face {
  font-family: font;
  src: url(/src/assets/fonts/B\ Koodak\ Bold_0.ttf);
}

@font-face {
  font-family: logo;
  src: url(/src/assets/fonts/NothingYouCouldDo-Regular.ttf);
}
@font-face {
  font-family: test;
  src: url(/src/assets/fonts/AGhasem.ttf);
}

@font-face {
  font-family: yekan;
  src: url(/src/assets/fonts/Yekan.ttf);
}

:root {
  --def-font: font;
  --bg-color: #1e293b;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #fff;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
}

.container {
  padding-left: 7rem;
  padding-right: 7rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-family: yekan;
}

@media screen and (max-width: 1268px) {
  .container {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 640px) {
  .container {
    padding: 0 4rem;
  }
}
@media screen and (max-width: 490px) {
  .container {
    padding: 0 2rem;
  }
}
