@import './reset.css';

@font-face {
  font-family: font;
  src: url(/src/assets/fonts/B\ Koodak\ Bold_0.ttf);
}

@font-face {
    font-family: logo;
    src: url(/src/assets/fonts/NothingYouCouldDo-Regular.ttf);
}
@font-face {
    font-family: test;
    src: url(/src/assets/fonts/AGhasem.ttf);
}

:root {
  --def-font: font;
}
